.footer-container {
    background-color: #538fdc   ;
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin-bottom: 0px !important;
    color: #101010;
}

.footer-image {
    padding: 10px;
    opacity: .8;
    transition: all .3s;
}

.footer-image:hover {
    opacity: 1;
    transform: scale(1.1);
}

img {
    height: 120px;
}