h5 {
    margin-top: 0 !important;
}

.intro {
    border-bottom: 1px solid black;
}

.row {
    margin: 1.45rem 0
}

.headshotImage {
    border-radius: 100% ;
    border: 3px solid black ;
}

@media screen and (max-width:992px) {
    .pitch{
        margin-top: 1.5rem;
    }
} 