@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-family: libre baskerville,Georgia,serif;
    color: #484848;
}

strong {
    font-weight: 600 !important;
}

h5, h4 {
    color: #cc8b14;
    font-size: 32px;
}

.intro {
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.pitch-desc{
    font-size: 20px;
}

.row {
    margin: 1.45rem 0
}

.headshotImage {
    border-radius: 100% ;
    border: 3px solid black ;
}

.pitch-container{
    margin-top: 60px;
}

@media screen and (max-width:992px) {
    .pitch{
        margin-top: 1.5rem;
    }
} 