.image-containter{
    width: 40px;
    height: 40px;
}

.content-header{
    border-bottom: black solid 1px;
    padding-bottom: 10px;
}

.stack-description{
    height: 40px;
    transition: 0.5s;
}

.next-icon {
    margin-left:auto;
    margin-right:0;
    color: inherit;
}

.stack-description:hover {
    color: #cc8b14;
}

.content-wrapper {
    background-color: #e9eff9 ;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 20px !important;
}

.sidebar-wrapper {
    padding-right: 0 !important;
}



.stack-row {
    margin: .6rem 0 !important;
}